.rangeSlider {
  width: fit-content;
  min-width: 400px;
}

.label {
  top: 0;
  height: 24px;
  line-height: 28px;
  width: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: transparent;
}

.thumb {
  background-color:rgb(131, 131, 131);
  height: 24px;
  width: 48px;
  border: none;
}

.groupContainer {
  width: 100%;
  min-width: 400px;
}

.textValue {
    min-width: 200px;
    text-align: left;
}
